---
layout: default
title: "Merhaba"
---

<article class="prose prose-lg w-full mx-auto prose-li:text-md md:prose-li:text-lg">
    <h1 class="antic-slab-regular">Merhaba, ben Emre!</h1>
    <p>İstatistik ve Bilgisayar Bilimleri öğrencisiyim. Aynı zamanda modern web teknolojileriyle çalışan bir
        geliştiriciyim.</p>
    <p>Burada geliştirdiğim Projelerimi, yazdığım yazıları ve önerilerimi bulacaksınız.</p>
    <h2 class="flex justify-between">Yazılarım<i class="ai-book-close"></i></h2>
    <ul class="font-mono">
        {% for post in site.posts limit:5 %}
        <li class="flex flex justify-between space-x-2 items-center border-b-4 border-base-100 pl-2">
            <a class="link" href="{{ post.url }}">{{ post.title }}</a>
            <time class="text-xs text-gray-500 text-nowrap">{{ post.date | localize: '%-d %B %Y' }}</time>
        </li>
        {% endfor %}
        <li class="flex flex justify-end space-x-2 items-center">
            <a class="link" href="{{ '/blog/' | relative_url }}">Tüm Yazılarım</a>
        </li>
    </ul>
    <h2 class="flex justify-between">Projelerim <i class="ai-folder"></i></h2>
    <ul class="font-mono">
        {% for project in site.projects %}
        <li class="flex flex justify-between space-x-2 items-center border-b-4 border-base-100 pl-2">
            <a class="link " href="{{ project.url }}">{{ project.title }}</a>
            <time class="text-xs text-gray-500 text-nowrap">{{ project.date | localize: '%-d %B %Y' }}</time>
        </li>
        {% endfor %}
        <li class="flex flex justify-end space-x-2 items-center">
            <a class="link" href="{{ '/projeler/' | relative_url }}">Tüm Projelerim</a>
        </li>
    </ul>

    <div
            x-data
            x-init="
            $nextTick(() => {
                const content = $refs.content;
                const item = $refs.item;
                const clone = item.cloneNode(true);
                content.appendChild(clone);
            });
    "
            class="relative w-full container-block [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
    >
        <div class="relative w-full py-4 mx-auto overflow-hidden text-lg italic tracking-wide max-w-7xl sm:text-xs md:text-sm lg:text-base xl:text-xl 2xl:text-2xl">
            <div x-ref="content" class="flex animate-marquee">
                <div x-ref="item" class="flex items-center justify-around flex-shrink-0 w-full py-2 space-x-10">
                    {% for logo in site.data.skills %}
                        <div class="tooltip" data-tip="{{ logo.name }}">
                            <i class="fab {{ logo.icon }} {{ logo.color }}"></i>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>
