<div x-data="{bannerVisible: false,bannerVisibleAfter: 300}"
     x-show="bannerVisible"
     x-transition:enter="transition ease-out duration-500"
     x-transition:enter-start="translate-y-full"
     x-transition:enter-end="translate-y-0"
     x-transition:leave="transition ease-in duration-300"
     x-transition:leave-start="translate-y-0"
     x-transition:leave-end="translate-y-full"
     x-init="
        setTimeout(()=>{ bannerVisible = true }, bannerVisibleAfter);
    "
     class="fixed bottom-0 left-0 w-full h-auto py-2 duration-300 ease-out bg-base-200 shadow-sm sm:py-0 sm:h-10" x-cloak>
    <div class="flex items-center justify-between w-full h-full px-3 mx-auto max-w-7xl ">
        <a href="{{ include.url }}" target="_blank" rel="noopener" class="flex flex-col w-full h-full text-xs leading-6 text-primary duration-150 ease-out sm:flex-row sm:items-center opacity-80 hover:opacity-100">
            <span class="flex items-center">
                <i class="ai-sparkles stroke-1"></i>
                <strong class="font-semibold">{{ include.title }}</strong><span class="hidden w-px h-4 mx-3 rounded-full sm:block bg-base-200"></span>
            </span>
            <span class="block pt-1 pb-2 leading-none sm:inline sm:pt-0 sm:pb-0">{{ include.description }}</span>
        </a>
        <button class="btn btn-ghost btn-sm btn-circle translate-x-1 ease-out duration-150" x-on:click="bannerVisible=false;">
            <i class="ai-cross"></i>
        </button>
    </div>
</div>