---
layout: default
---

<style>
    :root {
        --active-font: 'Georgia', serif; /* Varsayılan font */
    }

    .blog-page {
        font-family: var(--active-font);
    }
</style>

{% include banner.html title="test" description="test" %}
<div class="w-full flex flex-col items-center justify-center px-4">
    <article id="post-content" class="prose lg:prose-lg prose-neutral dark:prose-invert max-w-4xl w-full blog-page">
        <h1 class="text-primary">{{ page.title }}</h1>

        <div class="text-sm text-gray-500 grid grid-cols-1 md:flex md:items-center gap-2 mb-2">
            <span class="badge badge-outline text-nowrap">{{ page.date | localize: '%-d %B %Y' }}</span>
            {% if page.last_modified_at %}
            <span class="badge badge-outline badge-secondary text-nowrap">
                Son Güncelleme: {{ page.last_modified_at | localize: '%-d %B %Y' }}
            </span>
            {% endif %}
            {% if page.reading_time %}
            <span class="badge badge-outline badge-info text-nowrap">
                Tahmini Okuma Süresi: {{ page.reading_time }} dk
            </span>
            {% endif %}
        </div>
        <div class="divider"></div>

        {{ content }}

        {% if page.sources %}
        <div class="mt-10 p-4 bg-base-200 rounded-xl">
            <h2 class="text-lg font-bold mb-2">📚 Kaynaklar</h2>
            <ul class="list-disc space-y-1">
                {% for source in page.sources %}
                <li>
                    <a href="{{ source.url }}" class="link link-hover text-primary" target="_blank" rel="noopener">
                        {{ source.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </article>

    <div class="flex justify-between items-center w-full max-w-4xl mt-12">
        {% if page.previous %}
        <div class="tooltip" data-tip="{{ page.previous.title }}">
            <a href="{{ page.previous.url }}" class="btn btn-outline btn-accent">
                <i class="ai-arrow-left"></i>
                Geri
            </a>
        </div>
        {% endif %}
        <div class="flex-1"></div>
        {% if page.next %}
        <div class="tooltip" data-tip="{{ page.next.title }}">
            <a href="{{ page.next.url }}" class="btn btn-outline btn-accent">
                İleri
                <i class="ai-arrow-right"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>
