---
layout: default
---

<div class="w-full flex flex-col items-center justify-center px-4">
    <article class="prose lg:prose-lg prose-neutral dark:prose-invert max-w-4xl w-full">
        <h1 class="text-primary">{{ page.title }}</h1>

        <div class="text-sm flex items-center gap-2 mb-2">
            <span class="badge badge-outline">{{ page.date | localize: '%-d %B %Y' }}</span>
            {% if page.last_modified_at %}
            <span class="badge badge-outline badge-secondary">
                Son Güncelleme: {{ page.last_modified_at | localize: '%-d %B %Y' }}
            </span>
            {% endif %}
            {% if page.repo %}
            <span class="badge badge-outline">
                <a href="{{ page.repo }}" target="_blank" rel="noopener"
                   class="flex items-center justify-center space-x-1">
                    <i class="ai-github-fill"></i>
                    <span>Github</span></a>
            </span>
            {% endif %}
        </div>

        {{ content }}

    </article>


    <div class="flex justify-between items-center w-full max-w-4xl mt-12">
        {% if page.previous %}
        <div class="tooltip" data-tip="{{ page.previous.title }}">
            <a href="{{ page.previous.url }}" class="btn btn-outline btn-accent">
                <i class="ai-arrow-left"></i>
                Geri
            </a>
        </div>
        {% endif %}
        <div class="flex-1"></div>
        {% if page.next %}
        <div class="tooltip" data-tip="{{ page.next.title }}">
            <a href="{{ page.next.url }}" class="btn btn-outline btn-accent">
                İleri
                <i class="ai-arrow-right"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>